@model WebApplication_Parkovka.Models.JadvalXodim

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>JadvalXodim</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Xodim.FISH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Xodim.FISH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KelishV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KelishV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KetishV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KetishV)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
